<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] RBEV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RBEV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Events
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link " asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Location">Event Map</a>
                                <a class="nav-link " asp-area="" asp-controller="EventLocations" asp-action="Index">All Locations</a>
                                <a class="nav-link " asp-area="" asp-controller="Registrations" asp-action="Create">Register for an Event</a>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator"))
                                {
                                    <a class="nav-link " asp-area="" asp-controller="EventLocations" asp-action="Create">Add Event Location</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Local Clubs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link " asp-area="" asp-controller="Clubs" asp-action="Index">Find your Club</a>
                                <a class="nav-link" asp-area="" asp-controller="EventCoordinators" asp-action="Index">Club Contacts</a>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator"))
                                {
                                    <a class="nav-link " asp-area="" asp-controller="Clubs" asp-action="Create">Add New Club</a>
                                }
                            </div>

                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator") || User.IsInRole("Basic"))
                            {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Members
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link " asp-area="" asp-controller="Members" asp-action="Index">All Members</a>
                                    <a class="nav-link " asp-area="" asp-controller="Members" asp-action="Create">Add New Member</a>
                                </div>
                            </li>
                        }

                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Moderator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Club Contacts
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link " asp-area="" asp-controller="EventCoordinators" asp-action="Index">All Club contacts</a>
                                        <a class="nav-link " asp-area="" asp-controller="EventCoordinators" asp-action="Create">Add New Contact</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Registrations
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link " asp-area="" asp-controller="Registrations" asp-action="Index">All Registrations</a>
                                        <a class="nav-link " asp-area="" asp-controller="Registrations" asp-action="Create">Add New Registration</a>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        User Management
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="RoleManager" asp-action="Index">Role Management</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="UserRoles" asp-action="Index">Registered Users</a>
                                    </div>
                                </li>
                            }


                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="modal-footer bg-primary text-white-50" >
            <div class="container">
                &copy; 2022 - RBEV -  <a class="text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
